<h2 style="text-align: center;">Psicólogos Cadastrados</h2>
<div class="list-container" *ngIf="!loading; else spinner" fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="center none"
    infinite-scroll
    [infiniteScrollDistance]="distance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScroll()"
  >
  <mat-card *ngFor="let psicologo of psicologos" fxFlex.gt-md="0 1 calc(30%-16px)" fxFlex.gt-sm="0 1 calc(50%-16px)" fxFlex="0 1 calc(100%-16px)" style="width: 85vw;">
    <mat-card-content fxLayout="column" fxLayoutAlign=" center" style="overflow-wrap: anywhere;">
      <div class="picture-area">
        <img [src]="psicologo.imagem" style="width: 300px; height: 300px; border-radius: 50%;">
      </div>
      <div class="info-area">
        <div style="padding-top: 16px;" fxLayoutAlign="space-evenly none">
          <span style="font-weight: 500; font-size: 1.5em;">{{ psicologo.usuario.nome }}</span>
        </div>
        <div style="padding-top: 24px" fxLayout="column">
          <span style="font-size: 1.2em;">CRP: <strong>{{ psicologo.crp }}</strong></span>
          <span style="font-size: 1.2em;">Estado: <strong>{{ psicologo.estado }}</strong></span>
          <span style="font-size: 1.2em;">Preço por Sessão: <strong>{{ psicologo.precoSessao | currency:"BRL" }}</strong></span>
          <span style="font-size: 1.2em;">Formações: 
          <ul *ngFor="let formacao of psicologo.formacoes">
            <li>{{ formacao.titulo }} em {{ formacao.curso }} na instituição {{ formacao.universidade }}, completo em {{ formacao.anoFormacao | date:'YYYY'}}.</li>
          </ul>
          </span>
        </div>
      </div>
      <div class="descricao-area">
        <p style="font-size: 1.2em;">{{ psicologo.biografia }}</p>
        <button mat-raised-button color="primary" *ngIf="(isLoggedIn | async)" (click)="openAgendamentoModal(psicologo.id, psicologo.usuario.nome, psicologo.comecoAtendimento, psicologo.finalAtendimento)"><mat-icon class="icon">date_range</mat-icon> Abrir Agenda</button>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="psicologos.length === 0">
    <h3>Não há nenhum psicólogo cadastrado.</h3>
  </div>
</div>

<ng-template #spinner>
  <div>
    <h2>Carregando...</h2>
  </div>
</ng-template>